body
{
    
    background-color: #f4f3f3;
}

#body{
   
    width: 35%;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #dfdfdf;
    box-shadow: 0 2px 20px #5c636e;
    border-radius: 10px;
    /* margin-bottom: 70px; */
    position: relative;
}
#body h5
{
    margin-bottom: 40px;
}
#header
{
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #214252;
    
}


.title
{
    margin-bottom: 30px;
    font-size: 3rem !important;
 
}
.display
{
    height: 100px;
    box-shadow: 0 2px 20px #272343;
    animation: rotate  3s infinite linear;
    animation-play-state: paused;
}

.animation
{
    animation-play-state: running;
}
.progress
{
    width: 0;
}
.play
{
    font-size: 4.5rem;
}
.controls
{
    font-size: 2.6rem;
    margin: 10px;
    padding-bottom: 30px;
    cursor: pointer;
    margin-bottom: 0;
  
}

.play
{
    color: crimson;
    padding-top: 10px;
    position: relative;
    top: 12px;
   
}
.play:hover
{
    filter: drop-shadow(1px 5px 10px #d9adad);

}

.fa-pause-circle{
    color: #686d76;
}
.prev:hover
{
    color:#606470;
}

.next:hover
{
    color:#606470;
}

.prev
{
    margin-right: 30px;
 
   
}
.next
{
    margin-left: 30px;
}
.profile-image img
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

@media screen and (max-width:600px)
{
   #body{
        width: 80%;
        margin-left: 30px;
        margin-top: 60px;

    }
}




@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.progress-container{
    width: 75%;
    background-color: #c4b6b6;
    height: 10px;
    margin-left: 10px;
    border-radius: 7px;
    cursor: pointer;
   
}

.progress{
    
    width:0;
    background-color: #ea2c62;
    border-radius: 7px;
    height: 10px;
}

.time
{
    font-weight: bold;
   position: absolute;
   right: 20px;
   bottom: 120px;
    

}
.timenprogress
{
    margin-top:30px ;
}


#upNext
{
   width: 35%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
  /* color: #e8e8e8; */
   margin-bottom: 40px;
   margin-top: 10px;
   display: flex;
   background-color:#c4b6b6;
   border-radius: 15px;

    
}



.nextHead
{
    margin-left:30px;
    margin-right: 30px;
    /* padding-top: 50px; */
    margin-top: 10px;
    
   
}
.nextTitle
{
     margin-top: 18px; 
    font-size: 1.5rem;
    width: 20%;
    margin-right: 10px;
}
.nextimage
{
    border-radius: 10px;
    height: 50px;
    width: 50px;
     margin-right: 20px;
    /* margin-top: 30px; */ 
    margin-top: 10px;
    margin-bottom: 10px;
}
.upForward
{
    font-size: 2.5rem;
    margin-left: 80px;
    margin-top: 20px;
    cursor: pointer;
}
.upForward:hover
{
    color: #d8345f;
   filter: drop-shadow(0 2px 20px grey);
}


@media screen and (max-width:360px)
{
    #upNext{
      width: 100%;
      margin: 0;
    }
    .nextHead{
        font-size: 1.4rem;
        margin-left: 5px;
        margin-top: 20px;
        
    }
    .play{
        color: #060930;
    }
    
    .upForward
    {
        margin-left: 25px;
    }
    .progress{
        background-color: #060930;
    }
    
    #body{
        margin: 0;
        width: 100%;
        background-color: #ea86b6;
    }
    #header
    {
        margin-top: 0;
    }

    
}
